body {
    font-family: Arial,sans-serif;
    padding: 24px;
    display: flex;
    justify-self: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(0, 8, 240);
}
.card {
    max-width: 420px;
    padding: 18px;
    border: 1px solid hsl(0, 100%, 50%);
    border-radius: 12px;
}
input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    display: flex;
    justify-self: center;
}
button {
    width:50 ;
    padding: 10px;
    margin-top: 8px;
    display: flex;
    justify-self: center;
    justify-content: center;
}
.saida {
    margin-top: 12px;
    font-weight: 600;

}